<!-- order_success.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order Success</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="center-box">
    <h2>Your order was placed successfully! 🎉</h2>
    <a href="/products" class="btn">Back to Products</a>
    <a href="/logout" class="btn logout">Logout</a>
  </div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
